/* you will add css rules for element selectors and IDs */


/* you may add to or change the body rule */
body { 
    background-color:beige;
    font-family: sans-serif;
    color: rgb(15, 14, 14);
    
}
img {
    max-width: 100%; /* DO NOT delete or change this line */
}
        #stagbeetle { 
        background-color:rgba(243, 206, 173, 0.618);
        }

#ladybug {
    background-color:rgb(253, 160, 126);
}
#bluemintbeetle {
    background-color:rgb(236, 132, 132);
 }
 
        section * {
        background-color:white;
         } 
        section * {
            padding: 5px;
            font-size : 15px;
             line-height: 20px;
             Margin: 0;
             
             }
             h2 {
         text-align: center;
         }



/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #379CB2;
 }
a:hover {
    color: #82E8FF;
}
