/* you will add css rules for element selectors and IDs */


/* you may add to or change the body rule */
@media screen {min-width: 700px  
}
body { 
    background-color: black; 
    font-family: sans-serif;
    color: black;  
}
img {
    max-width: 100%; /* DO NOT delete or change this line */
}


article { 
    display: flex;
    flex-direction: column;
    align-items: center;

}
            #stagbeetle { 
            background-color:#B26219;
         }

            #ladybug {
                background-color:#FFD5AE;
             }
             #bluemintbeetle {
             background-color: #FFBD82;
              }
 
            section * {
                background-color:rgb(255, 250, 250);
                padding: 0;
                margin: 0;

         } 
         
         p {
            max-Width: 600px;
          }
        
        .text {
            
            font-size : 15px;
             line-height: 30px;
         
             }
      
footer {
    display: flex;
    background-color:#82E8FF;
    text-align: center;
   justify-content: center;

}
footer > p {
    text-align: center;
    align-content: center;
}
header {
    background-color: #333;
display:flex;
align-items: center;
flex-direction: row;
justify-content: center;
padding-left: 20px;
}
header h1 
{color: white;
}

/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #379CB2;
 }
a:hover {
    color: #82E8FF;
}
